body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: url("heart4.jpg") no-repeat center center fixed;
  background-size: 100% 100% ;
  background-position: top;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(255, 255, 255, 255);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  animation: fadeIn 1.5s ease-in;
  margin-left: 30%;
}

.photo {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #e80417;
  margin-bottom: 5px;
}

.message {
  font-size: 18px;
  color: #040115;
}
.show-button {
  background-color: #ff6f91;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-button:hover {
  background-color: #ff4c72;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
